@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  background-color: #444444; 
  color: #213547;
  transition: background-color 0.3s ease, color 0.3s ease; 
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a; 
    color: rgba(255, 255, 255, 0.87); 
  }

 
  a {
    color: #747bff;
  }

  a:hover {
    color: #9096ff;
  }
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
